.dashboard {
    background-color: honeydew;
    padding: 20px;
    text-align: center;
  }
  
  .dashboard.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .task-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .column {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .column h2 {
    margin-top: 0;
  }
  
  .task {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .task h2 {
    margin-top: 0;
  }